
@{
    Layout = null;
}
@model PROG123.Models.PersonModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <h1>Edit</h1>
    <br />
    <form asp-action="UpdatePersonTable" method="post">

        <label>First Name</label> <input asp-for="FName" value="@Model.FName" /><br />
        <label>Last Name</label> <input asp-for="LName" value="@Model.LName" /><br />
        <label>Email</label> <input asp-for="Email" value="@Model.Email" /><br />
        <label>Phone</label> <input asp-for="Phone" value="@Model.Phone" /><br />
        <label>Address</label> <input asp-for="Address" value="@Model.Address" /><br />
        <label>Username</label> <input asp-for="UserName" value="@Model.UserName" /><br />
        <label>Password</label> <input asp-for="Password" value="@Model.Password" /><br />

        <button type="submit">Submit</button>
    </form>
    <a href="@Url.Action("Page2", "Home")">Back to Page 2</a>

</body>
</html>
